body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
}

button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.player-details {
    margin: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

p{ 
    color: white;
}